.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.867676;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-14.300000px;}
._a{margin-left:-11.648000px;}
._0{margin-left:-10.560000px;}
._9{margin-left:-9.472000px;}
._6{margin-left:-7.040000px;}
._3{margin-left:-5.920000px;}
._1{margin-left:-4.736000px;}
._5{margin-left:-3.184000px;}
._4{margin-left:-1.296000px;}
._7{width:1.952000px;}
._2{width:46.299997px;}
.fc1{color:rgb(112,48,160);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:44.000000px;}
.fs8{font-size:56.000000px;}
.fs4{font-size:60.000000px;}
.fs3{font-size:72.000000px;}
.fs2{font-size:74.000000px;}
.fs7{font-size:112.000000px;}
.fs1{font-size:128.000000px;}
.fs9{font-size:172.000000px;}
.fs0{font-size:192.000000px;}
.fs5{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:142.304642px;}
.y9{bottom:188.928677px;}
.y1{bottom:199.904640px;}
.y10{bottom:246.134062px;}
.y8{bottom:263.723984px;}
.y16{bottom:264.911509px;}
.y15{bottom:279.704865px;}
.yf{bottom:284.703785px;}
.y7{bottom:289.643982px;}
.y6{bottom:325.563980px;}
.y13{bottom:343.155222px;}
.y1e{bottom:344.716339px;}
.y5{bottom:361.483986px;}
.ye{bottom:366.102631px;}
.y1d{bottom:373.196335px;}
.y29{bottom:380.192078px;}
.y4{bottom:387.403990px;}
.yd{bottom:395.902634px;}
.y1c{bottom:401.676331px;}
.y28{bottom:401.792084px;}
.y12{bottom:407.267647px;}
.y21{bottom:410.264214px;}
.yc{bottom:415.702633px;}
.y14{bottom:417.134146px;}
.y1b{bottom:420.156334px;}
.y27{bottom:423.392082px;}
.y24{bottom:425.549095px;}
.y20{bottom:431.864214px;}
.yb{bottom:435.502632px;}
.y1a{bottom:438.636337px;}
.y3{bottom:439.533184px;}
.y26{bottom:444.992083px;}
.y23{bottom:447.149096px;}
.y19{bottom:457.116338px;}
.y22{bottom:474.083210px;}
.ya{bottom:474.959621px;}
.y11{bottom:479.267651px;}
.y17{bottom:479.889290px;}
.y18{bottom:487.349110px;}
.y25{bottom:488.156626px;}
.y1f{bottom:488.795109px;}
.h8{height:32.054688px;}
.hc{height:38.281250px;}
.hb{height:38.800781px;}
.h5{height:43.710938px;}
.h7{height:52.417969px;}
.h4{height:52.453125px;}
.h3{height:53.910156px;}
.h9{height:81.539062px;}
.h2{height:93.187500px;}
.hd{height:119.593750px;}
.ha{height:133.500000px;}
.h1{height:139.781250px;}
.h6{height:166.875000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x8{left:7.200012px;}
.xa{left:13.875122px;}
.x9{left:16.825989px;}
.xb{left:20.847900px;}
.x7{left:24.642197px;}
.x4{left:27.328979px;}
.xc{left:30.738373px;}
.x6{left:33.625061px;}
.x12{left:34.897491px;}
.x5{left:45.328979px;}
.x11{left:77.749451px;}
.x13{left:103.068115px;}
.x14{left:146.035767px;}
.xe{left:171.771545px;}
.x3{left:189.154022px;}
.x10{left:210.540649px;}
.xf{left:248.748444px;}
.xd{left:321.295532px;}
.x2{left:550.183136px;}
.x1{left:774.151886px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-19.066667pt;}
._a{margin-left:-15.530667pt;}
._0{margin-left:-14.080000pt;}
._9{margin-left:-12.629333pt;}
._6{margin-left:-9.386667pt;}
._3{margin-left:-7.893333pt;}
._1{margin-left:-6.314667pt;}
._5{margin-left:-4.245333pt;}
._4{margin-left:-1.728000pt;}
._7{width:2.602667pt;}
._2{width:61.733329pt;}
.fs6{font-size:58.666667pt;}
.fs8{font-size:74.666667pt;}
.fs4{font-size:80.000000pt;}
.fs3{font-size:96.000000pt;}
.fs2{font-size:98.666667pt;}
.fs7{font-size:149.333333pt;}
.fs1{font-size:170.666667pt;}
.fs9{font-size:229.333333pt;}
.fs0{font-size:256.000000pt;}
.fs5{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:189.739522pt;}
.y9{bottom:251.904902pt;}
.y1{bottom:266.539520pt;}
.y10{bottom:328.178749pt;}
.y8{bottom:351.631978pt;}
.y16{bottom:353.215345pt;}
.y15{bottom:372.939819pt;}
.yf{bottom:379.605047pt;}
.y7{bottom:386.191976pt;}
.y6{bottom:434.085307pt;}
.y13{bottom:457.540296pt;}
.y1e{bottom:459.621785pt;}
.y5{bottom:481.978648pt;}
.ye{bottom:488.136841pt;}
.y1d{bottom:497.595113pt;}
.y29{bottom:506.922770pt;}
.y4{bottom:516.538653pt;}
.yd{bottom:527.870178pt;}
.y1c{bottom:535.568441pt;}
.y28{bottom:535.722778pt;}
.y12{bottom:543.023529pt;}
.y21{bottom:547.018951pt;}
.yc{bottom:554.270177pt;}
.y14{bottom:556.178861pt;}
.y1b{bottom:560.208445pt;}
.y27{bottom:564.522776pt;}
.y24{bottom:567.398794pt;}
.y20{bottom:575.818952pt;}
.yb{bottom:580.670176pt;}
.y1a{bottom:584.848450pt;}
.y3{bottom:586.044245pt;}
.y26{bottom:593.322777pt;}
.y23{bottom:596.198794pt;}
.y19{bottom:609.488450pt;}
.y22{bottom:632.110947pt;}
.ya{bottom:633.279495pt;}
.y11{bottom:639.023534pt;}
.y17{bottom:639.852386pt;}
.y18{bottom:649.798813pt;}
.y25{bottom:650.875501pt;}
.y1f{bottom:651.726812pt;}
.h8{height:42.739583pt;}
.hc{height:51.041667pt;}
.hb{height:51.734375pt;}
.h5{height:58.281250pt;}
.h7{height:69.890625pt;}
.h4{height:69.937500pt;}
.h3{height:71.880208pt;}
.h9{height:108.718750pt;}
.h2{height:124.250000pt;}
.hd{height:159.458333pt;}
.ha{height:178.000000pt;}
.h1{height:186.375000pt;}
.h6{height:222.500000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x8{left:9.600016pt;}
.xa{left:18.500163pt;}
.x9{left:22.434652pt;}
.xb{left:27.797201pt;}
.x7{left:32.856262pt;}
.x4{left:36.438639pt;}
.xc{left:40.984497pt;}
.x6{left:44.833415pt;}
.x12{left:46.529989pt;}
.x5{left:60.438639pt;}
.x11{left:103.665934pt;}
.x13{left:137.424154pt;}
.x14{left:194.714355pt;}
.xe{left:229.028727pt;}
.x3{left:252.205363pt;}
.x10{left:280.720866pt;}
.xf{left:331.664591pt;}
.xd{left:428.394043pt;}
.x2{left:733.577515pt;}
.x1{left:1032.202515pt;}
}
